* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e3333;
  background-color: #f3f5f5;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

h3 {
  font-weight: 400;
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

/* ------------------------ HEADER ------------------------- */
.header-container-center,
.infos-restaurant-container-center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.header-container-center {
  height: 100%;
  align-items: center;
}

header {
  display: block;
  align-items: center;
  border-bottom: 1px solid #e9ebeb;
}

header,
.global-infos-restaurant {
  background-color: #fff;
}

.global-infos-restaurant {
  padding: 30px 0;
}

.infos-restaurant {
  flex: 3;
  margin-right: 30px;
}

.infos-restaurant h1 {
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}
.infos-restaurant p {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
}

.photo-restaurant {
  flex: 1;
}
.photo-restaurant img {
  width: 350px;
  height: auto;
  border-radius: 5px;
}

.logo {
  height: 60px;
}

/* ------------------------ CONTENT ------------------------- */

.content-center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
}

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  flex: 1;
  max-height: 200px;
  margin: 30px 0;
}

.content-category {
  flex: 3;
}

/* ------------------------ MEAL ------------------------- */

.popular {
  color: orange;
  font-weight: bold;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
}

.menu-card {
  display: flex;
  height: 160px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.menu-item {
  width: 50%;
  padding: 0 10px 25px;
}

.meal-description,
.price {
  color: #868a8a;
}

.meal-description {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.3rem;
  height: 2.6rem;
  overflow: hidden;
  margin: 0 0 1rem;
}

.price {
}

.menu-item-texts {
  flex: 2;
}
.menu-item-photo-container {
  flex: 1;
  height: 130px;
  width: 130px;
}

.menu-item-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
