* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e3333;
  background-color: #f3f5f5;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

/* ------------------------ HEADER ------------------------- */
.header-container-center,
.infos-restaurant-container-center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.header-container-center {
  height: 100%;
  align-items: center;
}

header {
  display: block;
  align-items: center;
  border-bottom: 1px solid #e9ebeb;
}

header,
.global-infos-restaurant {
  background-color: #fff;
}

.global-infos-restaurant {
  padding: 30px 0;
}

.infos-restaurant {
  flex: 3;
  margin-right: 30px;
}

.infos-restaurant h1 {
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}
.infos-restaurant p {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
}

.photo-restaurant {
  flex: 1;
}
.photo-restaurant img {
  width: 350px;
  height: auto;
  border-radius: 5px;
}

.logo {
  height: 60px;
}

/* ------------------------ CONTENT ------------------------- */

.content-center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
